@model List<Hr_Management_System.Features.Person.Queries.GetAllPersons.GetAllPersonsResponse>

@{
    ViewData["Title"] = "Person Index";
}

<h1>Persons Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Department
            </th>
            <th>
                Role
            </th>
            <th>
                Projects
            </th>
            <th>
                Skills
            </th>
            <th>
                Payment
            </th>
            <th>
                Birth Day
            </th>
            <th>
                E-mail
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
            <td>
                @foreach (var project in item.PersonProjects)
                {
                    <li>@project.Project.Name</li>
                }
            </td>
            <td>
                @foreach (var project in item.PersonSkills)
                {
                    <li>@project.Skill.Name</li>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
